# DL/ML
torch>=2.0.0
scikit-learn
pytorch-lightning

# NLP
transformers
sentence-transformers
vllm
langchain
torchtext
spacy
nltk
tiktoken
openai

# Biomedical
quickumls

# Scoring
torchmetrics
evaluate
six
bert_score
rouge_score

# Tracking
tensorboard
wandb

# Optimization
peft
optimum

# Datasets
datasets

# Data Manipulation
pandas
dask
numpy

# Stats
scipy

# Visualization
matplotlib
seaborn

# Notebooks
jupyter
ipykernel

# DevOps
pre-commit