# DL/ML
torch==2.1.2
scikit-learn
flash-attn==2.5.2

# NLP
transformers
sentence-transformers
vllm
langchain
torchtext
spacy
nltk
tiktoken
openai

# Scoring
torchmetrics
evaluate
six
bert_score
rouge_score

# Tracking
tensorboard
wandb

# Optimization
peft
optimum

# Datasets
datasets

# Data Manipulation
pandas
dask
numpy

# Stats
scipy

# Visualization
matplotlib
seaborn

# Notebooks
jupyter
ipykernel

# DevOps
pre-commit